---

// console.log(Astro.params.category);
// const wha = env.SOMETHING || 'default value';
// const wha = Astro.locals.SOMETHING || 'default zvalue';
// import { getSecret } from "astro:env/server"
import Layout from "$layouts/Layout.astro";

import { sql } from "$utils/sql.js";
import { slug, markdownToHtml as markdown } from "$utils/helpers.js";

export async function getStaticPaths() {
	const products = sql.prepare("SELECT p.id, p.name, p.slug, c.slug as category_slug FROM products p JOIN categories c ON p.category = c.id").all();
	return products?.map((product:any) => ({
		params: { product: product.slug, category: product.category_slug, id: product.id },
		props: { product }, // optional
	}));
};


const category = sql.prepare("SELECT slug, name FROM categories WHERE slug = ?").get(Astro.params.category);
const product = sql.prepare("SELECT * FROM products WHERE slug = ?").get(Astro.params.product);


---

<Layout title={product?.name || 'woo'} description={product?.description || 'woo'}>
	<p>
		<a href="/">Home</a> / 
		<a href={`/${category?.slug}`}>{category?.name}</a> / 
		{product?.name}
	</p>
	<Fragment set:html={markdown(product?.markdown || '')} />
	<pre>{JSON.stringify(product, null, 2)}</pre>
</Layout>