---

console.log('params', Astro.params);
// const wha = env.SOMETHING || 'default value';
// const wha = Astro.locals.SOMETHING || 'default zvalue';
// import { getSecret } from "astro:env/server"
import Layout from "$layouts/Layout.astro";


export async function getStaticPaths() {
	const Posts = await Astro.glob('$data/products/*.md')

	// const Posts = (await import.meta.glob('$data/products/*.md'))
	return Posts?.map((post) => ({
		// params: { slug: post.file.pathname.split('/').pop().split('.').shift() },
		// params: { product: post.file.split('/').pop().split('.').shift() },
		params: { category: post.frontmatter.category_slug, product: post.frontmatter.slug },
		props: { post },
	}))
}

const { Content, frontmatter: product} = Astro.props.post;


---

<Layout>
	<p>
		<a href="/">Home</a> / 
		<a href={`/${product?.category_slug}`}>{product?.category}</a> / 
		{product?.name}
	</p>
	<section class="MaxWidthSmall">
		<Content />
		<pre>{JSON.stringify(product, null, 2)}</pre>
	</section>
</Layout>