---
const { summary, flags } = Astro.props;
---

{ summary || flags?.length ? <h2>About this distillery</h2> : '' }
{ summary 
	? <p>{summary}</p>
	: ''
}
{ flags?.length
	? <ul>
		{flags?.map(flag => (
			<li>
				{flag}
			</li>
		))}
	</ul>
	: ''
}
{ summary || flags?.length ? <br /> : '' }

